@CHARSET "ISO-8859-1";
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.owl-theme .owl-controls {
  margin-top: 0px; }

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E
/* ---------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
  overflow: hidden; }

a:hover {
  text-decoration: none;
  color: #636466;
  cursor: pointer; }

ol, ul {
  list-style: none;
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
  font-weight: normal; }

*, body {
  line-height: 1.55;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: Lato, sans-serif;
  font-weight: normal;
  padding-top: 90px; }

::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 16px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 16px; }

:-ms-input-placeholder {
  color: #fff;
  font-size: 16px; }

.clearfix {
  clear: both; }

.parallax {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0; }

.template-wrap {
  position: relative; }

.display-none {
  display: none; }

.btn.btn-oe {
  color: #000;
  font-size: 16px;
  border: 2px solid #000;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 5px 25px;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.popup-video {
  color: #000;
  font-size: 40px; }

.popup-video .icon-play-video {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center; }

.popup-video .icon-play-video i {
  line-height: 3.4;
  font-size: 14px !important;
  display: block; }

.color-white .popup-video .icon-play-video {
  border-color: #fff; }

/* ------------------------------------------------ */
/* S L I D E R   S T Y L E   
/* ------------------------------------------------ */
.slider-wrapper {
  position: relative;
  overflow: hidden; }

.owl-item .item img {
  display: block;
  width: 100%;
  height: auto; }

.text-slider {
  width: 570px;
  position: absolute;
  left: 15%;
  top: 20%;
  opacity: 0;
  /*TRANSISTIONS*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

.owl-item.active .item .text-slider {
  left: 20%;
  opacity: 1; }

.text-slider p {
  line-height: 1.2;
  font-size: 65px;
  color: #fefeff; }

.scroll-down {
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 20px;
  position: relative;
  vertical-align: middle; }

.img-scroll-down {
  background: url(images/arrow.png) no-repeat;
  height: 17px;
  width: 17px;
  position: absolute;
  background-position: -68px 0px;
  display: inline-block;
  vertical-align: middle;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -9px; }

a#scroll_to {
  z-index: 999999;
  color: #fff;
  font-size: 24px;
  margin-top: 30px;
  display: block; }

.arrow-left-slider, .arrow-right-slider {
  width: 17px;
  height: 17px;
  display: block;
  background: url(images/arrow.png) no-repeat;
  background-position: -35px 0px; }

.arrow-right-slider {
  background-position: -53px 0px; }

/* ---------------------------------------- */
/*  C L I E N T  S T Y L E
/* ---------------------------------------- */
.client-wrapper {
  display: block; }

.client-img {
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px; }

/* ---------------------------------------- */
/*  B L O G  B L O C K  S T Y L E
/* ---------------------------------------- */
.et-post-data {
  width: 100%; }

.et-post-data-right ul.post-categories {
  list-style: none;
  padding: 0;
  display: inline-block; }

.et-post-data-right ul.post-categories li {
  display: inline-block;
  margin: 0;
  padding: 0; }

.et-blog-post {
  margin-bottom: 40px; }

.et-post-excerpt p {
  font-size: 16px; }

.image-blog-wrapper {
  border-bottom: 4px solid;
  margin-bottom: 30px;
  height: 300px;
  overflow: hidden;
  position: relative; }

.image-blog-wrapper img {
  min-height: 300px; }

.et-post-data-left {
  text-align: center; }

.et-post-data-left.mobile-blog {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 25px; }

.et-post-data-left.mobile-blog .et-post-month, .et-post-data-left.mobile-blog .et-post-heart, .et-post-heart i, .et-post-data-left.mobile-blog .et-post-date {
  color: #fff; }

.et-post-data-left.mobile-blog .et-post-date {
  border-color: #fff !important; }

.et-post-data-right {
  border-left: 1px solid #95a5a5; }

.et-post-month, .et-post-heart, .et-post-heart i {
  color: #bdc3c7;
  font-size: 18px;
  text-transform: uppercase;
  display: block; }

.et-post-date {
  color: #bdc3c7;
  font-size: 32px;
  display: block;
  line-height: .8;
  padding-bottom: 30px;
  border-bottom: 1px solid #95a5a6;
  margin-bottom: 20px; }

.et-post-heart {
  font-size: 16px; }

h1.title-blog {
  color: #000;
  font-size: 24px;
  margin-top: 0; }

h1.title-blog a {
  color: #000;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.et-post-info, .et-post-info a {
  font-size: 13px;
  color: #babfc6; }

.read-more {
  color: #000;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.view-all-blog-wrapper {
  display: block;
  text-align: center; }

.view-all-blog {
  display: inline-block;
  margin: 0 auto;
  text-align: center; }

.view-all-blog, .view-all-blog * {
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.view-all-blog, .view-all-blog span i {
  color: #bdc3c7;
  font-size: 14px;
  text-transform: uppercase; }

.view-all-blog span i {
  font-size: 16px;
  display: block;
  line-height: 2.5; }

.view-all-blog span {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #bdc3c7;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: relative;
  text-align: center;
  margin: 0 auto 10px; }

.blog-header {
  width: 100%;
  overflow: hidden; }

.blog-header img {
  max-width: 100%;
  height: auto; }

.post-content img {
  max-width: 100%;
  height: auto; }

#comments ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul.oe-comment-list ul.children {
  margin-left: 96px !important;
  margin-top: 30px !important; }

.oe-comment-thumbnail img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.blog-header-wrapper {
  height: 560px;
  margin-bottom: 50px;
  position: relative; }

.blog-header-img {
  width: 100%;
  height: 560px;
  position: absolute;
  z-index: -1;
  background-position: bottom center; }

.blog-page {
  margin-top: 150px !important; }

.single-blog {
  border-right: 1px solid #95a5a5; }

.single-blog-mobile {
  display: none; }

.et-post-data-left.single-blog a.home-icon {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #bdc3c7;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.et-post-data-left.single-blog a.home-icon i {
  display: block;
  line-height: 2.3;
  font-size: 16px;
  color: #bdc3c7;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.et-post-data-left.single-blog .et-post-month {
  border-top: 1px solid #95a5a6;
  padding-top: 30px;
  margin-top: 20px; }

.social-share.single-blog-share {
  margin-top: 0 !important; }

.social-share.single-blog-share ul.social {
  float: none !important; }

.social-share.single-blog-share ul.social li {
  display: block !important;
  margin-bottom: 30px; }

.title-single {
  color: #000;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px; }

.post-tags {
  border-top: 1px solid #000;
  padding: 30px 0 0;
  margin: 30px 0 0; }

.post-tags a {
  color: #bdc3c7;
  margin-left: 5px;
  font-size: 14px;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.post-tags a:hover {
  color: #9b59b6; }

.next-post-container {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-top: 50px;
  background: #cacaca;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat; }

.next-post-container img {
  width: 100%;
  height: auto;
  position: absolute; }

.post-content blockquote {
  margin-left: 30px;
  border-left: 3px solid #9b59b6; }

.comment-wrap {
  margin-top: 30px;
  border-top: 1px solid #000; }

.oe-comments-title {
  margin-bottom: 30px;
  color: #3b3b3b;
  font-size: 24px; }

.oe-comment-left {
  overflow: hidden;
  float: left;
  margin-right: 30px; }

.oe-comment-right {
  overflow: hidden;
  position: relative; }

.oe-comment-author {
  display: block;
  color: #5f6f81;
  font-size: 16px;
  line-height: 1; }

.oe-comment-time {
  color: #bdc3c7;
  font-size: 14px; }

.oe-comment-content {
  margin-top: 10px; }

.oe-comment-content p {
  color: #5f6f81;
  font-size: 16px; }

.comment-reply-link {
  position: absolute;
  right: 0;
  top: 0;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.oe-comment-list > li {
  margin-bottom: 30px; }

#et_respond {
  border: 1px solid #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 30px;
  margin-top: 40px; }

#reply-title {
  color: #3b3b3b;
  font-size: 24px;
  margin-top: 0; }

.comment-form p {
  margin-bottom: 15px;
  display: block;
  overflow: hidden; }

.comment-form-author input, .comment-form-email input, .comment-form-url input, .comment-form-comment textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f1f1f1;
  box-shadow: none;
  padding: 15px 20px;
  width: 100%;
  border: none; }

.before-text {
  opacity: .6;
  color: #5f6f81;
  font-size: 16px; }

.form-submit input[type="submit"] {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  display: inline-block;
  border: 2px solid #000;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 5px 25px;
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: none;
  float: right;
  box-shadow: none; }

.blog-filter-container {
  overflow: hidden; }

.blog-filer {
  text-align: center;
  margin-bottom: 30px; }

.blog-filer ul {
  list-style: none; }

.blog-filer ul li {
  display: inline-block;
  margin-right: 10px; }

.blog-filer ul li a {
  color: #bdc3c7;
  font-size: 16px;
  display: inline-block;
  border: 2px solid #bdc3c7;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 5px 25px;
  float: left;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.blog-filer ul li.active a, .blog-filer ul li:hover a {
  color: #fff;
  background: #000;
  border-color: #000; }

/* ---------------------------------------- */
/*  V I D E O  B L O C K   S T Y L E
/* ---------------------------------------- */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%; }

.video-wrapper {
  min-height: 200px;
  position: relative;
  overflow: hidden; }

/* ---------------------------------------- */
/*  H E A D E R   S T Y L E
/* ---------------------------------------- */
/*.list-services-wrapper{}*/
.list-services-wrapper .service-wrapper {
  text-align: center;
  margin-bottom: 30px; }

.list-services-wrapper .service-wrapper .icon {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto; }

.list-services-wrapper .service-wrapper .icon i {
  font-size: 20px;
  color: #000;
  line-height: 2.2; }

.list-services-wrapper .service-wrapper h2.title {
  color: #000;
  font-size: 22px;
  font-weight: 400; }

.list-services-wrapper .service-wrapper p {
  padding: 0 5px;
  font-weight: 300;
  font-size: 16px; }

/* ---------------------------------------- */
/*  T I M E L I N E   A B O U T   S T Y L E
/* ---------------------------------------- */
.timeline-wrapper {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 630px; }

.timeline-wrapper li {
  display: block;
  margin-bottom: 30px; }

.line-wrapper {
  text-align: center; }

.line-wrapper .line-horizal {
  width: 24px;
  height: 2px;
  background-color: #95a5a5;
  display: block;
  margin: 0 auto; }

.line-wrapper .line-vertical {
  width: 2px;
  height: 55px;
  background-color: #95a5a5;
  display: block;
  margin: 0 auto; }

.line-wrapper .line-circle {
  width: 50px;
  height: 50px;
  border: 2px solid #95a5a5;
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 10px auto 20px;
  color: #95a5a5;
  font-size: 14px;
  font-weight: bold;
  line-height: 3.2; }

.timeline-wrapper .text-wrapper {
  position: relative;
  text-align: center; }

.timeline-wrapper .text-wrapper .detail {
  width: 370px;
  margin: 0 auto;
  z-index: 999;
  position: relative; }

.timeline-wrapper .text-wrapper .detail h2 {
  font-size: 22px;
  color: #000; }

.timeline-wrapper .text-wrapper .detail p {
  font-size: 16px; }

.maks-black {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.time-line-color-white {
  color: #ffffff !important; }

/* ------------------------------------------------ */
/* P I E C H A R T   S T Y L E   
/* ------------------------------------------------ */
.chart {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center; }

.chart canvas {
  position: absolute;
  top: 0;
  left: 0; }

.percent-chart {
  display: inline-block;
  z-index: 2;
  font-size: 30px; }

.percent-chart:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 25px;
  font-weight: 500; }

.pie-column {
  text-align: center;
  margin-bottom: 25px; }

.pie-content h2 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 22px;
  color: #000; }

/* ------------------------------------------------ */
/* T E S T I M O N I A L   R E S P O N S I V E   S T Y L E   
/* ------------------------------------------------ */
.testimonial-wrapper ul {
  padding: 0; }

#test_avatar .item {
  margin: 0 30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  border: 3px solid #fff;
  overflow: hidden;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.quote-charater {
  background: url(images/arrow.png) no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 10px;
  background-position: -85px 0; }

#test_avatar {
  width: 600px;
  margin: 0 auto 15px; }

#test_avatar .owl-item.active.synced .item {
  transform: scale(1.7, 1.7);
  -moz-transform: scale(1.7, 1.7);
  -webkit-transform: scale(1.7, 1.7); }

.test_content {
  text-align: center; }

#test_avatar .owl-wrapper-outer {
  height: 120px;
  padding: 0 10px; }

#test_avatar .owl-wrapper {
  top: 30px; }

#test_content .item p {
  color: #5f6f81;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  width: 60%;
  margin: 10px auto 15px; }

#test_content .item .name-client {
  display: block;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase; }

/* ------------------------------------------------ */
/* C O U N T E R S   S T Y L E   
/* ------------------------------------------------ */
.counter-wrapper {
  overflow: hidden;
  display: block; }

.counter {
  text-align: center;
  margin-bottom: 30px; }

.counter .counter-title {
  font-size: 22px;
  display: block;
  margin: 0; }

.counter .timer {
  font-size: 48px;
  color: #000;
  display: block;
  line-height: 1.2; }

/* ------------------------------------------------ */
/* P R I C I N G  S T Y L E   
/* ------------------------------------------------ */
.pricing-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #fff;
  overflow: hidden;
  position: relative;
  margin: 0 auto; }

.pricing-wrapper.main-pricing {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Chrome, Safari, Opera */
  transform: scale(1.2);
  border: 2px solid #eb6a4b;
  z-index: 9; }

.pricing-wrapper.main-pricing .popular {
  position: absolute;
  color: #ba492b;
  text-transform: uppercase;
  left: 0;
  right: 0;
  text-align: center;
  top: 15px; }

.pricing-wrapper.main-pricing .pricing-title {
  font-size: 15px;
  padding-top: 30px; }

.pricing-wrapper.main-pricing .pricing-list-option li span {
  padding: 8px 0; }

.pricing-wrapper.main-pricing .pricing-title, .pricing-wrapper.main-pricing .pricing-sign-up {
  background: #eb6a4b; }

.pricing-title {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  background: #5f6e81;
  color: #fff;
  margin: 0;
  padding: 10px 0;
  min-height: 66px; }

.pricing-title span {
  font-size: 30px; }

.pricing-list-option {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.pricing-list-option li {
  display: block;
  text-align: center;
  border-bottom: 1px solid #ecf0f1; }

.pricing-list-option li span {
  display: block;
  padding: 11px 0;
  font-size: 16px;
  font-weight: 400; }

.pricing-sign-up {
  background: #5f6e81;
  color: #fff;
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding: 7px 0 15px;
  min-height: 50px;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.pricing-sign-up:hover {
  background: #eb6a4b;
  color: #fff; }

#bs-navbar {
  float: right;
  background: transparent;
  position: relative;
  bottom: -1px; }

.main {
  line-height: 0.3;
  text-align: center;
  margin: 0px;
  padding: 20px 0; }

.sub-main {
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 50px; }

#about p, #about-us p {
  text-align: left;
  color: #ffffff;
  font-size: 22px;
  margin-top: 100px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 auto;
  padding-bottom: 0px;
  letter-spacing: 0px;
  position: relative;
  width: 60%; }

.main span {
  display: inline-block;
  position: relative; }

.main.about {
  color: #ffffff; }

.main.portfolio {
  color: #E81856; }

.main.contact {
  color: #ffffff;
  background: #636466; }

/* Custom Bootstrap Classes */
.navbar-nav {
  float: right; }

.container-fluid {
  padding: 0px; }

.navbar-inverse {
  background-color: #ffffff;
  border-color: transparent; }

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #E81856; }

.img-thumbnail {
  background-color: transparent;
  padding: 10px; }

/* End Custom Bootstrap Classes */
/* About us section */
.team-link {
  margin: 12px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  display: block; }

.team-link span {
  font-weight: bold; }

.team-link img {
  margin-left: 12px; }

/* end about us section */
/* Portfolio Section */
/* ---------------------------------------- */
/*  P O R T F O L I O  B L O C K  S T Y L E
/* ---------------------------------------- */
.portfolio-cat-wrapper {
  margin-bottom: 30px; }

ul.portfolio-category {
  list-style: none;
  /*padding: 0;
	margin: 0;*/ }

/*ul.portfolio-category {
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 30px;	
}*/
ul.portfolio-category li {
  display: inline-block;
  /*margin: 10px 50px;	*/ }

ul.portfolio-category li a span.icon-categories {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #bdc3c7;
  margin: 0 auto 5px;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

ul.portfolio-category li a span.icon-categories i {
  color: #bdc3c7;
  font-size: 16px;
  line-height: 2.3;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/*ul.portfolio-category li a{
	color: #bdc3c7;
	font-size: 18px;
	display:inline-block;
	
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}*/
.portfolio-list {
  overflow: hidden; }

.portfolio-list .item {
  margin: 0 !important;
  line-height: 0;
  padding: 0 !important;
  position: relative;
  overflow: hidden; }

ul.portfolio-category li a:hover span.icon-categories, ul.portfolio-category li a.active span.icon-categories {
  border-color: #000; }

ul.portfolio-category li a:hover span.icon-categories i, ul.portfolio-category li a:hover, ul.portfolio-category li a.active span.icon-categories i, ul.portfolio-category li a.active {
  color: #000; }

#portfolio_content {
  margin-top: 70px;
  display: none;
  padding-top: 30px; }

.port-content {
  position: relative;
  margin-bottom: 60px; }

.port-control {
  text-align: center; }

.thumbnail-img img {
  display: block;
  width: 100%;
  height: auto; }

.prev, .next {
  color: #bdc3c7;
  font-size: 12px;
  position: relative;
  text-transform: uppercase;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.arrow-port {
  width: 17px;
  height: 17px;
  background: url(images/arrow.png) no-repeat center center;
  background-position: 0 0;
  display: inline-block;
  position: relative;
  top: 5px; }

.arrow-port.left {
  left: -20px; }

.arrow-port.right {
  background-position: -17px 0;
  right: -20px; }

.close-port {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  display: inline-block;
  margin: 0 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #bdc3c7;
  text-align: center;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.close-port i {
  font-size: 16px;
  color: #bdc3c7;
  display: block;
  line-height: 2.3;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.title-port-wrapper {
  margin-bottom: 40px; }

.title-port-wrapper .title-port {
  text-align: center;
  color: #000;
  font-size: 32px;
  margin: 30px 0 10px; }

.title-port-wrapper .category {
  color: #5f6f81;
  display: block;
  text-align: center;
  font-size: 18px; }

.social-share {
  margin-top: 10px; }

.btn.get-in-touch {
  color: #000;
  font-size: 16px;
  display: inline-block;
  border: 2px solid #000;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 5px 25px;
  float: left;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.social-share ul.social {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right; }

.social-share ul.social li {
  display: inline-block;
  margin-left: 10px; }

.social-share ul.social li a {
  display: block;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #bdc3c7;
  text-align: center;
  /*TRANSISTIONS*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.social-share ul.social li a i {
  color: #fff;
  display: block;
  line-height: 2.4; }

/**** Hover Effect ****/
#portfolio_list div.item a div.hover {
  position: absolute;
  background: #E81856;
  opacity: 0.5;
  width: 100%;
  height: 100%; }

#portfolio_list div.item a div.hover span {
  display: block;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px; }

#portfolio_list div.item a div.hover span i {
  color: #fff;
  font-size: 16px;
  display: block;
  line-height: 2.3; }

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

/* END / WORK */
#workPreview {
  min-width: 360px !important;
  margin: 0 auto;
  margin-top: 30px;
  position: relative; }

.workItem {
  -webkit-transition-property: background-size;
  -moz-transition-property: background-size;
  -o-transition-property: background-size;
  transition-property: background-size;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  float: left;
  display: table-block;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }
  .workItem .hover {
    background-size: 104% 104%; }
  .workItem .workItemTable {
    display: table;
    width: 100%;
    height: 100%; }
    .workItem .workItemTable .mask {
      z-index: 2;
      display: none;
      width: 100%;
      height: 100%;
      background: #E81856;
      opacity: 0.8; }
    .workItem .workItemTable .info {
      display: none;
      vertical-align: middle;
      position: relative;
      z-index: 3;
      color: #fff !important; }
      .workItem .workItemTable .info p,
      .workItem .workItemTable .info li,
      .workItem .workItemTable .info a {
        color: #fff !important;
        text-shadow: 1px 1px 1px rgba(35, 35, 50, 0.2); }

.animateall * {
  -webkit-transition-property: font-size,margin,padding;
  -moz-transition-property: font-size,margin,padding;
  -o-transition-property: font-size,margin,padding;
  transition-property: font-size,margin,padding;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

/* End Portfolio Section */
.menu-utility,
.footer-utility {
  width: 100%;
  margin: 40px 0px 10px 0px; }

.menu-utility {
  text-align: right; }

.footer-utility {
  text-align: left;
  padding: 0px;
  margin: 20px 0px 10px 0px; }

.email-link {
  margin: 10px 0;
  color: #ffffff;
  font-size: 16px; }

.email-link span {
  font-weight: bold; }

.menu-utility li,
.footer-utility li {
  display: inline-block;
  padding: 0 .5rem; }

.menu-utility li img,
.footer-utility li img,
.team-link img {
  height: 24px; }

.main span.portfolio:before,
.main span.portfolio:after {
  background: #E81856;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 25%; }

.main span:before,
.main span:after {
  background: #ffffff;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 25%; }

.main span:before {
  right: 100%;
  margin-right: 15px; }

.main span:after {
  left: 100%;
  margin-left: 15px; }

.main.neutral,
.neutral {
  color: #ffffff; }

.pink {
  color: #E81856; }

.gray {
  color: #636466; }

.primary-bg {
  background: #E81856; }

.neutral-bg {
  background: #ffffff; }

.secondary-bg {
  background: #636466; }

a.logo {
  display: block;
  float: left;
  margin-top: 40px; }

.navbar-brand {
  height: auto; }

#threeways-menu {
  background: transparent; }

#threeways-menu li a {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#threeways-menu li a:hover, #threeways-menu li a.active {
  border-bottom-width: 2px;
  border-bottom-color: #CCCCCC; }

.align-center {
  text-align: center !important; }

ul.portfolio-category {
  display: block;
  list-style: none;
  padding: 0;
  margin: 20px auto;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #555;
  cursor: default; }

ul.portfolio-category li a {
  display: inline-block;
  margin: 0 5px;
  padding: 6px 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #222;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  cursor: pointer; }

ul.portfolio-category li a:hover {
  color: #888;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none; }

ul.portfolio-category li a.active {
  border-color: #222;
  cursor: default; }

.about-wrapper,
.contact-wrapper,
.portfolio-wrapper {
  position: relative; }

.navbar-inverse .navbar-toggle {
  border-color: #E81856; }

.navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #E81856; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #636466; }

p.wow {
  margin: 30px auto; }

.about-wrapper, #about-us {
  padding-bottom: 50px; }

#contact_form, .wpcf7-form {
  margin-top: 25px;
  font-size: 16px;
  position: relative; }

#contact_form .verification-field {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

#contact_form .confirmation {
  opacity: 0;
  position: absolute;
  z-index: 999;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 28px;
  line-height: normal;
  background: #F8F9F9;
  transition: opacity 200ms ease-in-out; }

#contact_form .confirmation img {
  display: block;
  width: 64px;
  margin: 0 auto 30px auto; }

#contact_form .confirmation span {
  color: #B7C2C9;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 76%;
  transform: translate(-50%, -40%);
  opacity: 0;
  transition: all 300ms ease-in-out; }

#contact_form.sent .confirmation {
  left: 0;
  opacity: 1; }

#contact_form.sent .confirmation span {
  opacity: 1;
  transform: translate(-50%, -50%); }

#contact_form .spinner {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  background: transparent url(/assets/ring2-a11d0c2d1eef855b4f3e0b7e2d5ea9ba93ef11084868eb4ec34c1c3da32be188.svg) no-repeat center center;
  background-size: auto auto;
  z-index: 9999;
  display: none; }

#contact_form.loading .spinner {
  display: block; }

#contact_form.loading .field {
  opacity: .5;
  pointer-events: none; }

#contact_form.loading button, #contact_form.loading button:hover, #contact_form.loading button:active {
  color: #16364f;
  transform: scale(1);
  cursor: progress; }

#contact_form.loading button svg path, #contact_form.loading button svg polygon, #contact_form.loading button:hover svg path, #contact_form.loading button:hover svg polygon, #contact_form.loading button:active svg path, #contact_form.loading button:active svg polygon {
  fill: #16364f; }

#contact_form input[type=text], #contact_form textarea, #contact_form label,
.wpcf7-form input[type=text], .wpcf7-form textarea, .wpcf7-form label {
  font-size: 22px;
  line-height: normal; }

#contact_form input[type=text], #contact_form input[type=email], #contact_form textarea,
.wpcf7-form input[type=text], .wpcf7-form input[type=email], .wpcf7-form textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 1px solid #ffffff;
  margin: 0;
  padding: 10px 0 10px 0px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  resize: none;
  transition: all 200ms ease-in-out;
  color: #ffffff; }

#contact_form textarea, .wpcf7-form textarea {
  min-height: 50px;
  padding-right: 50px; }

#contact_form button,
.wpcf7-form button {
  background: #ffffff;
  appearance: none;
  border: 0;
  line-height: 34px;
  display: inline-block;
  margin: 0;
  padding: 10px 30px;
  font-size: 24px;
  color: #E81856;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out, transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: color 0.1s ease-in-out, transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

#contact_form button strong {
  font-weight: 400; }

#contact_form button svg {
  position: relative;
  top: 8px;
  left: 6px;
  display: inline-block; }

#contact_form button svg path, #contact_form button svg polygon {
  fill: #00b5ec;
  -webkit-transition: fill .1s ease-in-out;
  transition: fill .1s ease-in-out; }

#contact_form button:hover, #contact_form button:focus {
  color: #16364f; }

#contact_form button:hover svg path, #contact_form button:hover svg polygon, #contact_form button:focus svg path, #contact_form button:focus svg polygon {
  fill: #16364f; }

#contact_form button:active,
.wpcf7-form button:active {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9); }

#contact_form .actions, .wpcf7 .actions {
  position: relative; }

#contact_form .field, .wpcf7 .field {
  margin-bottom: 20px;
  position: relative;
  color: #ffffff; }

#contact_form .field:before, #contact_form .field:after,
.wpcf7-form .field:before, .wpcf7-form .field:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
  opacity: 0;
  right: 30px;
  transition: all 150ms ease-in-out; }

#contact_form .field:after {
  background-image: url(/assets/WrongIcon-e0716d0b83ed5a12973ff7342c923d2ec9afb57b47f60d22e41b47cd5330ebb3.svg); }

#contact_form .field:before {
  background-image: url(/assets/CheckIcon-78d6cc7d1ffa30b64a4c85036dbdbf0a9c00e6f49dac72a2e521eec3564129e2.svg); }

#contact_form .field label {
  position: absolute;
  top: 12px;
  left: 0;
  transition: all 200ms ease-in-out;
  color: #ffffff; }

#contact_form .field.focus input[type=text], #contact_form .field.focus textarea {
  color: #1FBDF0; }

#contact_form .field.focus input[type=text], #contact_form .field.focus textarea {
  border-color: #1FBDF0; }

#contact_form .field.focus label, #contact_form .field.dirty label {
  top: -10px;
  font-size: 15px; }

#contact_form .field.dirty:before {
  right: 15px;
  opacity: 1; }

#contact_form .field.error input[type=text], #contact_form .field.error textarea {
  color: #F63500; }

#contact_form .field.error:after {
  right: 15px;
  opacity: 1; }

.wpcf7-form input[type=text], .wpcf7-form textarea, .wpcf7-form label {
  font-size: 22px;
  line-height: normal; }

.contact-name input, .contact-email input:focus, .contact-message input:focus {
  outline-style: none; }

.wpcf7-form input[type="submit"] {
  display: block;
  margin: 0 5px;
  padding: 6px 20px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  cursor: pointer; }

.map {
  padding-left: 0px;
  padding-right: 0px; }

/* ------------------------------------------------ */
/* R E S P O N S I V E  S T Y L E   
/* ------------------------------------------------ */
@media (max-width: 1440px) {
  .owl-item.active .item .text-slider {
    left: 10%; } }

@media (max-width: 1199px) {
  ul.portfolio-category li {
    margin: 10px 20px; }
  #main-menu-top .main-menu li a {
    padding: 27px 10px; }
  .text-slider {
    width: 400px; }
  .text-slider p {
    font-size: 40px; }
  .image-team-wrapper {
    float: none;
    margin: 0 auto; }
  .pricing-wrapper {
    left: inherit !important;
    right: inherit !important; } }

@media (max-width: 991px) {
  .counter-wrapper .counter.col-md-3 {
    width: 50%;
    float: left; }
  .client-wrapper .client-img.col-md-2 {
    width: 50%;
    float: left; }
  .thumbnail-img {
    margin-bottom: 30px; }
  .contact-form-wrapper {
    width: 95%; }
  .timeline-wrapper {
    width: 100%; }
  .pricing-wrapper {
    margin-bottom: 30px;
    -ms-transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important; } }

@media (max-width: 768px) {
  #bs-navbar {
    float: none;
    background: #ffffff; }
  .navbar-nav {
    float: none; }
  .et-post-data-left {
    display: none; }
  .et-post-data-right {
    border: none; }
  .et-post-data-left.mobile-blog {
    display: block; }
  .single-blog-desktop {
    display: none; }
  .single-blog-mobile {
    display: block; }
  .single-blog-mobile.et-post-data-left {
    display: block !important; }
  .text-slider {
    width: 250px; }
  .text-slider p {
    font-size: 20px;
    line-height: 1.5; }
  a#scroll_to {
    font-size: 14px; }
  #test_avatar {
    width: 100%; }
  #test_avatar .owl-wrapper-outer {
    height: 165px; } }

@media (max-width: 599px) {
  a.logo {
    margin-top: 0px; }
  #test_avatar {
    width: 100%;
    margin-bottom: 0; }
  #test_avatar .owl-wrapper-outer {
    height: 165px; } }

@media (max-width: 480px) {
  .counter-wrapper .counter.col-md-3 {
    width: 100%;
    float: none; }
  .client-wrapper .client-img.col-md-2 {
    width: 100%;
    float: none; }
  .heading-title-wrapper {
    padding: 0 5%; }
  a#scroll_to, .text-slider {
    /*display:none;*/
    margin-top: 5px; }
  #test_content .item p {
    width: 100%; }
  .timeline-wrapper .text-wrapper .detail {
    width: 90%; }
  .text-slider p {
    font-size: 14px;
    line-height: 1.5;
    max-width: 56%; }
  ul.portfolio-category li {
    width: 50%; } }
